* {
    box-sizing: border-box;
}

h2 {
    margin-bottom: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    width: 90%;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif
}

.row {
    width: 100%;
}

.title {
  position: absolute;
  /* top: 5px; */
  right: 0px;
  /* border: 2.5px solid black; */
  padding: 2.5px;
  font-family: Arial, Helvetica, sans-serif
}

.text {
  width: 95%;
  /* position: absolute; */
  /* top: 0.5%; */
  /* height: 150px; */
  margin-right: 0.5%;
  margin-left: 0.5%;
  margin-top: 25px;
  margin-bottom: 0.5%;
  font-family: Arial, Helvetica, sans-serif
}

#chicken-text {
  background-color: #FABF63;
}
#chicken-title {
  background-color: #FF9B00;
  color: #ffffff;
}
#beef-text {
  background-color: #FF5C5C;
}
#beef-title {
  background-color: #FF1212;
  color: #ffffff;
}
#sushi-text {
  background-color: #48DE5F;
}
#sushi-title {
  background-color: #00BF1D;
  color: #ffffff;
}


/********** Large devices only **********/
@media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      box-sizing: border-box;
      position: relative;
      float: left;
      margin: 0.5%;
      border: 2.5px solid black;
    }
    .col-lg-1 {
      width: 8%;
    }
    .col-lg-2 {
      width: 16%;
    }
    .col-lg-3 {
      width: 24%;
    }
    .col-lg-4 {
      width: 32%;
    }
    .col-lg-5 {
      width: 41%;
    }
    .col-lg-6 {
      width: 49%;
    }
    .col-lg-7 {
      width: 58%;
    }
    .col-lg-8 {
      width: 66%;
    }
    .col-lg-9 {
      width: 74%;
    }
    .col-lg-10 {
      width: 83%;
    }
    .col-lg-11 {
      width: 91%;
    }
    .col-lg-12 {
      width: 99%;
    }
}
  
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      box-sizing: border-box;
      position: relative;
      float: left;
      margin: 0.5%;
      border: 2.5px solid black;
    }
    .col-md-1 {
      width: 8%;
    }
    .col-md-2 {
      width: 16%;
    }
    .col-md-3 {
      width: 24%;
    }
    .col-md-4 {
      width: 32%;
    }
    .col-md-5 {
      width: 41%;
    }
    .col-md-6 {
      width: 49%;
    }
    .col-md-7 {
      width: 58%;
    }
    .col-md-8 {
      width: 66%;
    }
    .col-md-9 {
      width: 74%;
    }
    .col-md-10 {
      width: 83%;
    }
    .col-md-11 {
      width: 91%;
    }
    .col-md-12 {
      width: 99%;
    }
}

/********** Small devices only **********/
@media (max-width: 767px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      box-sizing: border-box;
      position: relative;
      float: left;
      margin: 0.5%;
      border: 2.5px solid black;
    }
    .col-sm-1 {
      width: 8%;
    }
    .col-sm-2 {
      width: 16%;
    }
    .col-sm-3 {
      width: 24%;
    }
    .col-sm-4 {
      width: 32%;
    }
    .col-sm-5 {
      width: 41%;
    }
    .col-sm-6 {
      width: 49%;
    }
    .col-sm-7 {
      width: 58%;
    }
    .col-sm-8 {
      width: 66%;
    }
    .col-sm-9 {
      width: 74%;
    }
    .col-sm-10 {
      width: 83%;
    }
    .col-sm-11 {
      width: 91%;
    }
    .col-sm-12 {
      width: 99%;
    }
}
  