#header-nav {
    background-color: #FABF63;
    border-radius: 0;
    border: 0;
}

.navbar-brand {
    padding-top: 25px;
    margin-left: 0px;
}

.navbar-brand h1 { /* Restaurant name */
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
    color: #000000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
    vertical-align: middle;
}

#nav-list {
    margin-top: 10px;
}
#nav-list a {
    color: #000000;
    text-align: center;
}
#nav-list a:hover {
    background: rgb(243, 205, 144);
}
#nav-list a span {
    font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #FF9B00;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}


.row {
    width: 100%;
    padding: 1%;
}

.text {
    /* width: 95%; */
    /* position: absolute; */
    /* top: 0.5%; */
    /* height: 150px; */
    margin-right: 0.5%;
    margin-left: 0.5%;
    margin-top: 25px;
    margin-bottom: 0.5%;
    font-family: Arial, Helvetica, sans-serif
}

#food-text {
    background-color: #FABF63;
    margin: 0.5%;
}
#food-title {
    background-color: #FF9B00;
    color: #ffffff;
}